@import "../../css/colors.scss";



.app__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__popup {
    background-color: white;
    border: $pop-color 4px solid;
    border-radius: 10px;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
}