.product-card {
  border: black 1px solid ;
  border-radius: 5px;
  height: 300px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.product-card__image {
  height: 120px;
}

.product-card__name {
  margin: 12px 0 8px;
}

.product-card__buy-button {
  background-color: palevioletred;
  border: none;
  color: white;
  height: 40px;
  width: 110px;
  align-self: center;
}

.product-card__more-info {
  background: none;
  cursor: pointer;
  border: none;
  margin: 8px 0 16px;
  text-decoration: underline;
  color: #4b4b4b;
}